body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(28, 37, 42, 255);
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh; /* Set the height of the body to the viewport height */
}

.container {
    text-align: center;
    align-items: center;
}

body h1 {
    color: white;
}

.info_form {
    background-color: white; /* Set the background color of the form */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
